extends ./layout.jade  
block contenido  
  article
    h2(align='center', style='background-color: #2E2E2E;color: white; padding: 5px')
      | Declaración sobre la constitución de un Comité de Enlace CSR-ETO/PCO y la necesidad de construir una nueva Internacional Obrera Revolucionaria
    br
    br
    h3 La crisis del capitalismo imperialista
    p #{manifiesto}
    p
    h4(align='left') CSR-ETO/PCO
    p
    br
    p
    h4(align='right') 25/9/14
    p
