<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
  //estilos css
  link(rel="stylesheet", href="css/estilos.css")  
  //font awesome
  link(rel="stylesheet",
  | href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
body
  header
    .banner
    .menu-hamburguesa.desplegable(nombre="menuPrincipal")
      i.fa.fa-bars
    ul(desplegado-por="menuPrincipal")
      li
        a(href='/')
          | Inicio
      li.desplegable(nombre="quienesSomos")
        a(href='#')
          | Quienes Somos
        ul(desplegado-por="quienesSomos")
          li
            a(href='/quienes')
              | Partido de la Causa Obrera
          li
            a(href='/enlace')
              | Comite de Enlace Internacional
      li.desplegable(nombre="prensa")
        a(href='#')
          | Prensa
        ul(desplegado-por="prensa")
          li
            a(href='/notas')
              | Notas
          li
            a(href='/periodicos')
              | Periódicos LCO
          li
            a(href='/manifiesto')
              | Revista Internacional
          li
            a(href='/mujer')
              | La Mujer Trabajadora
      li
        a(href='/contacto')
          | Contacto
  section.main
    secciones
      section.articles
        block contenido
      section.aside
        figure.noticia
          .image
            img(src='imagenes/lco35.fw.png', alt='LCO')
          encabezado
            .fecha
              span.day Abr
              span.mes 2018
            h3 La Causa Obrera N°35
        a(href='archivos/lco35.pdf', target='_blank')
        figure.noticia
          .image
            img(src='imagenes/topo.jpg', alt='manifiesto internacional')
          encabezado
            .fecha
              span.day Abr
              span.mes 2018
            h3 Enlace Internacional 
            h4 CRS - El Topo Obrero
        a(href='http://csr-eltopoobrero.org.ve/', target='_blank')
        figure.noticia
          .image
            img(src='imagenes/manifiesto.jpg', alt='manifiesto internacional')
          encabezado
            .fecha
              span.day Abr
              span.mes 2018
            h3 Revista Internacional
        a(href='archivos/lco1.pdf', target='_blank')
  footer
    p Partido de la Causa Obrera - PCO
  //jquery
  script(src='https://code.jquery.com/jquery-3.3.1.min.js',
  | integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  //codigos js
  script(src='/js/codigo.js')
            
              
