extends ./layout.jade  
block contenido  
  h1 Boletín: La Mujer Trabajadora
  hr(color='#000000', size='2')
  br
  //- - for (var i= 0; i < periodicos.length ; i++){
  //-     boletin
  //-       a(href='archivos/lco35.pdf', target='_blank', style='text-decoration: none; color: black;')
  //-         h5 LCO N° 35 - Marzo 2018 
  //-         img(src='imagenes/lco35.fw.png', alt='lco35', width='180px')
  //- - } 
