extends ./layout.jade  
block contenido  
  article
    h2 ¡ABORTO LEGAL EN EL HOSPITAL!
    br
    img(src='imagenes/aborto.jpg', alt='abortolegal', width='600px')
    br
    br
    p
      | Luego de la movilización del 21F convocada por Moyano, que no llamó a paro general ni a ningún plan de lucha, pero tuvo gran masividad. Macri intenta cambiar el eje de la discusión de la reforma laboral que pretenden imponer, hacia el tema del aborto por lo menos por unos días, mientras las cosas en el plano sindical vuelven a la “normalidad”...
      a(href='index-1.html') Ver mas
  article
    h2
      | 8M: PARO Y MOVILIZACION POR LOS DERECHOS DE LAS MUJERES Y DE TODA LA CLASE TRABAJADORA
    br
    img(src='imagenes/niunamenos.png', alt='niunamenos', width='600px')
    br
    br
    br
    h3 Femicidio: El Estado capitalista es el responsable
    br
    p
      | El 8 de marzo fue instituido como día internacional de la mujer por la segunda conferencia internacional de mujeres socialistas realizada en Copenhague en 1910 al adoptar la resolución preparada por Clara Zetkin.
    p
      | Este año en el Día Internacional de la Mujer trabajadora, se convoca al segundo Paro Internacional de Mujeres...
      a(href='index-2.html') Ver mas
