extends ./layout.jade  
block contenido  
  h1 Periódico: La Causa Obrera
  hr(color='#000000', size='2')
  br
  //- - for (var i= 0; i < periodicos.length ; i++){
  //-     lco
  //-       a(href='#{periodicos[i].pdf}', target='_blank', style='text-decoration: none; color: black;')
  //-         h5 #{periodicos[i].tit} 
  //-         img(src='#{periodicos[i].img}', alt='lco35', width='180px')
  //- - } 
