extends ./layout.jade  
block contenido  
  article
    h2(align='center')
      | Declaración sobre la constitución de un Comité de Enlace CSR-ETO/PCO y la necesidad de construir una nueva Internacional Obrera Revolucionaria
    br
    br
    br
    h3 La crisis del capitalismo imperialista
    p
